{% extends 'layout.html' %}
{% block title %}{{post.title}} 상세보기{% endblock %}
{% block content %}
{%load static %}
<!-- Category, Title -->
{% if post.category %}
<span class="badge rounded-pill bg-success float-end">{{post.category.name}}</span>
{% else %}
<span class="badge rounded-pill bg-success float-end">미분류</span>
{% endif %}
<h1 class="mt-4">{{post.id}}.{{post.title}}</h1>
{% if request.user == post.author %}
<button type="button" class="btn btn-outline-secondary float-end"
        onclick="location='#'"
>Edit</button>
{% endif %}
<!-- Author -->
<p class="lead">
    by
    <a href="mailto:{{post.author.email}}">{{post.author}}</a>
</p>

<hr>
<!-- Date/Time -->
<p>{{post.created}}</p>
<hr>

<!-- Preview Image -->
{% if post.head_image %}
<img src="{{post.head_image.url}}" height="300">
{% else %}
<img src="{% static 'blog/img/noImg.png' %}" height="300">
{% endif %}

<!-- Post Content -->
<p>{{post.content| linebreaks}}</p>
<h6>Tags :
    <span class="badge bg-secondary">
            {% for tag in post.tags.all %}
                <a href="{%url 'blog:tag' tag.name %}">#{{tag.name}}</a>
            {% empty %}
                <a href="{%url 'blog:tag' None %}">태그없음</a>
            {% endfor %}
        </span>
</h6>
<hr>
<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!-- Single Comment -->
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="" style="width:30px; height:30px">
    <div class="media-body">
        <h5 class="mt-0">Commenter Name</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>

<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!-- Single Comment -->
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <h5 class="mt-0">Commenter Name</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>

<!-- Comment with nested comments -->
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <h5 class="mt-0">Commenter Name</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

    </div>
</div>

<button class="btn btn-primary" onclick="location='{% url 'blog:index'%}'">목록</button>
{% endblock %}