{% extends 'layout.html' %}
{% block content %}
{%load static %}
    <h1 class="my-4">BLOG
        <small>LIST</small>
    </h1>
    <!-- Blog Post -->
    {% for post in post_list %}
    <div class="card mb-4">
        {% if post.head_image %}
        <img src="{{post.head_image.url}}" height="300">
        {% else %}
        <!--                <img src="{% static 'blog/img/noImg.png' %}" height="300">-->
        <img src="https://picsum.photos/750/300/?random">
        {% endif %}
        <div class="card-body">
            {% if post.category %}
            <h6>카테고리 <span class="badge bg-secondary">{{post.category.name}}</span></h6>
            <span class="badge rounded-pill bg-success float-end">{{post.category.name}}</span>
            {% else %}
            <span class="badge rounded-pill bg-success float-end">미분류</span>
            {% endif %}
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.content | truncatewords:10 }}</p>
            <a href="{% url 'blog:detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on {{post.created}} by
            <a href="mailto://{{post.author.email}}">{{post.author}}</a>
        </div>
    </div>
    {% empty %}
        <h2>해당 게시물이 없습니다</h2>
    {% endfor%}
{% endblock %}